<!DOCTYPE html>	
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
<body>
	<h1>Generate CSV report </h1>
<div class = 'container'>
<form action = '/' method='post'>
	  <input type="text" id ='inputBox' name='textValue' ><br>
  	  <input type="submit" id='submit' value="Submit">
</form>

<textarea id ='outputBox'><%=CSVreport%></textarea><br>
</div>

</body>





<script src="app.js"></script>
